* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title{
 font-size: 80px;
 overflow: hidden;
}

/* .b {
  color: rgb(241, 136, 37);
} */



